################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KB
/KB.Application/bin
/KB.Application/obj
/KB.Domain/bin
/KB.Domain/obj
/KB.EntityFramework/bin
/KB.EntityFramework/obj
/KB.Infrastructure/bin
/KB.Infrastructure/obj
/KB.Web.Host/bin
/KB.Web.Host/obj
/KB.Dapper/bin
/KB.Dapper/obj
