
@{
    ViewBag.Title = "Add";
}

    <form class="form-horizontal" method="post" action="">
        <div >
            <label>Title</label>
            <input class="form-control" name="Title" type="text" />
        </div>
        <div >
            <label>Description</label>
            <input class="form-control" name="Description" type="text" />
        </div>
        <div>
            <input class="btn btn-primary"  type="submit" value="Ok"/>
        </div>
    </form>

